.app {
}

.header-container {
  height: 100vh;

  background: url("./images/ball-background.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 5%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.x-logo {
  position: absolute;
  left: 4rem;
  top: 4rem;

  width: 7rem;
}

.info-container {
  margin-left: 4rem;
  margin-top: 20%;
}

.title {
  color: white;

  font-size: 60px;
  font-family: "AvenirBlack";
  text-transform: uppercase;

  margin: 0;
  position: relative;
  z-index: 10;
}

.subtitle {
  color: white;

  font-size: 35px;
  font-family: "AvenirBlack";
  text-transform: uppercase;

  margin: 0;
  position: relative;
  z-index: 10;
}

.description {
  color: white;

  font-family: "AvenirMedium";
  font-size: 25px;

  position: relative;
  z-index: 10;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.apply-button {
  color: white;
  background-color: #253776;

  font-size: 25px;
  font-family: "AvenirMedium";
  letter-spacing: 2px;
  padding: 1.5rem 3.5rem;
  border: none;

  text-transform: uppercase;
  cursor: pointer;
}

.apply-button:hover {
  transform: scale(3);
}

.apply-button:hover::before {
  content: "!!!!";
}

.apply-button:hover::after {
  content: "!!!!";
}

.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 60vh;
  background-color: #253776;
  color: white;

  box-sizing: border-box;
  padding-top: 5%;
}

.the-experience-quote {
  text-transform: uppercase;

  font-size: 20px;
  font-family: "AvenirMedium";
  letter-spacing: 1.5px;

  margin: 0;
}

.the-experience-sound {
  font-size: 18px;
  font-family: "AvenirMedium";
  letter-spacing: 0.8px;

  margin: 3px 0 0 0;
}

.the-experience-meaning {
  font-size: 18px;
  font-family: "AvenirMedium";

  margin: 5px 0 0 0;
}

.nvbf-logo {
  width: 5rem;
  margin-top: 6.5%;
}

.nvbf-title {
  color: white;
  font-size: 14px;

  margin: 0.5rem 0;
}

.hexagon-top-yellow {
  position: absolute;
  top: 0;
  left: -20rem;
  transform: rotate(-8deg);
}

.hexagon-top-yellow:before,
.hexagon-top-yellow:after {
  content: "";
  position: absolute;
  border-left: 55vw solid transparent;
  border-right: 50vw solid transparent;
}

.hexagon-top-yellow:after {
  top: 100%;
  width: 0;
  border-top: 35vh solid rgba(255, 230, 1, 0.5);
}

.hexagon-top-blue {
  position: absolute;
  top: -5vh;
  right: 70vw;
  transform: rotate(1deg);
}

.hexagon-top-blue:before,
.hexagon-top-blue:after {
  content: "";
  position: absolute;
  border-left: 55vw solid transparent;
  border-right: 55vw solid transparent;
}

.hexagon-top-blue:after {
  top: 100%;
  width: 0;
  border-top: 25vh solid rgba(37, 55, 118, 0.6);
}

.hexagon-left-blue {
  position: absolute;
  top: 100vh;
  left: 0vw;
  transform: rotate(-90deg);
}

.hexagon-left-blue:before,
.hexagon-left-blue:after {
  content: "";
  position: absolute;
  border-left: 30vw solid transparent;
  border-right: 30vw solid transparent;
}

.hexagon-left-blue:after {
  top: 100%;
  width: 0;
  border-top: 35vh solid rgba(37, 55, 118, 0.6);
}

.hexagon-right-yellow {
  position: absolute;
  top: -15vh;
  right: 0vh;
  transform: rotate(85deg);
}

.hexagon-right-yellow:before,
.hexagon-right-yellow:after {
  content: "";
  position: absolute;
  border-left: 35vw solid transparent;
  border-right: 35vw solid transparent;
}

.hexagon-right-yellow:after {
  top: 100%;
  width: 0;
  border-top: 25vh solid rgba(255, 230, 1, 0.5);
}
