.app {
  background-color: #253776;
}
.header-container {
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100vh;

  background: url("./images/ball-background.jpg") no-repeat 80% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 5%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.x-logo {
  position: absolute;
  left: 4rem;
  top: 4rem;

  width: 7rem;
}

.info-container {
  margin-left: 4rem;
  margin-top: 40vh;
}

.title {
  color: white;

  font-size: 60px;
  font-family: "AvenirBlack";
  text-transform: uppercase;

  margin: 0;
  position: relative;
  z-index: 10;
}

.subtitle {
  color: white;

  font-size: 35px;
  font-family: "AvenirBlack";
  text-transform: uppercase;

  margin: 0;
  position: relative;
  z-index: 10;
}

.description {
  color: white;

  font-family: "AvenirMedium";
  font-size: 25px;

  position: relative;
  z-index: 10;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.apply-button {
  color: white;
  background-color: #253776;

  font-size: 25px;
  font-family: "AvenirMedium";
  letter-spacing: 2px;
  padding: 1.5rem 3.5rem;
  border: none;

  text-transform: uppercase;
  cursor: pointer;
  z-index: 10;
}

.apply-button:hover {
  transform: scale(1.02);
}

.bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 60vh;
  background-color: #253776;
  color: white;

  box-sizing: border-box;
}

.the-experience-quote {
  text-transform: uppercase;

  font-size: 20px;
  font-family: "AvenirMedium";
  letter-spacing: 1.5px;

  margin: 0;
}

.the-experience-sound {
  font-size: 18px;
  font-family: "AvenirMedium";
  letter-spacing: 0.8px;

  margin: 3px 0 0 0;
}

.the-experience-meaning {
  font-size: 18px;
  font-family: "AvenirMedium";
  text-align: center;

  margin: 5px 0 0 0;
}

.nvbf-logo {
  width: 5rem;
  margin-top: 6.5%;
}

.nvbf-title {
  color: white;
  font-size: 14px;

  margin: 0.5rem 0;
}

@media all and (max-width: 550px) {
  .header-container {
    background-position-x: -450px;
  }
  .x-logo {
    top: 2rem;
    left: 2rem;
    width: 4rem;
  }

  .info-container {
    margin-left: 2rem;
    margin-top: 40vh;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    font-size: 26px;
  }

  .description {
    width: 70%;
    font-size: 20px;
  }

  .apply-button {
    font-size: 18px;
    padding: 1rem 2.5rem;
  }

  .button-container {
    margin-bottom: 10vh;
  }

  .the-experience-meaning {
    width: 80%;
  }
}
