.form-wrapper {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}

.form-title {
  font-family: "AvenirBlack";
  font-size: 1.2rem;
  letter-spacing: 1.3px;

  text-transform: uppercase;
  text-align: center;

  margin-top: 4rem;
  max-width: 50rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.form-inputfield-label {
  font-family: "AvenirMedium";
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.3px;

  margin-top: 3rem;
}

.form-inputfield {
  width: 100%;
  height: 2.75rem;

  margin-top: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  box-sizing: border-box;

  border: 1px solid #bbbbbb;
  background-color: transparent;
  font-family: "AvenirBlack";
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: white;
  letter-spacing: 1.3px;
}

.form-inputfield.large {
  height: 10rem;
}

.form-inputfield::placeholder {
  color: #bbbbbb;
  font-family: "AvenirBlack";
  font-size: 1.2rem;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  margin-top: 1rem;
}

.submit-button {
  width: 40%;
  height: 2.75rem;

  font-family: "AvenirBlack";
  font-size: 1.2rem;

  background-color: white;
  color: #253776;
}

.back-button {
  color: white;
  margin-right: 1rem;

  text-decoration: underline;
  font-family: "AvenirBlack";
  font-size: 1.2rem;
}

.progress-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress-bar {
  display: flex;
  flex-direction: row;

  margin-top: 1rem;
}

.dot {
  background-color: rgba(200, 200, 200, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 2px;
}

.filled {
  background-color: white;
}

.done-message {
  max-width: 40rem;
  margin-top: 5rem;

  text-align: center;
  font-family: "AvenirBlack";
  font-size: 1.2rem;
}

@media all and (max-width: 600px) {
  .form-inputfield {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
  .form-wrapper {
    margin-bottom: 2rem;
  }
}
